<%- include('../partials/header.ejs') %>
<a href="/stocks" class="left-align container arrow"><i class="material-icons black-text small">arrow_back</i></a>
<div class="flow-text black-text center-align">
    <h1><%=stock.name%></h1>
    
    <p>Ticker: <%=stock.ticker%></p>
    <p>Price: <%=stock.price%></p>
    <p>Your feeling <span style="text-decoration: underline;"><%=stock.feeling%></span> about this stock.</p>
    <ul>
        <li>IPO date: xx/xx/xxxx</li>
        <li>Average Volume: 10,000,000</li>
        <li>Market Cap: $1.32T</li>
        <li>52 week high: $xx.xx</li>
        <li>52 week low: $xx.xx</li>
    
    </ul>

</div>

<%- include('../partials/footer.ejs')%>
