<%- include('../partials/header.ejs') %>

<h1><%=stock.name%></h1>

<p>Ticker: <%=stock.ticker%></p>
<p>Price: <%=stock.price%></p>
<p>Your feeling <%=stock.feeling%> about this stock.</p>

<%- include('../partials/footer.ejs')%>
