<%- include('../partials/header.ejs') %>


<div class="container text-center">
<h1>Stocks</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Ticker</th>
            <th>Price</th>
            <th>Feeling</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < stock.length; i++) {%>
            <tr>
                <td><%= stock[i].name %></td>
                <td><%= stock[i].ticker %></td>
                <td id="api-price">$<%= price(stock[i].ticker) %></td>
                <% if(stock[i].feeling === 'Bullish'){%>
                    <td style="color: green;"><%= stock[i].feeling %></td>
                <%} else{%>
                    <td style="color: red;"><%= stock[i].feeling %></td>
                <%} %>
                <td>
                    <a href="/stocks/<%=stock[i]._id%>/edit">
                        <input type="image" src="/images/pencil.svg"></input>
                    </a>
                </td>
                <td>
                    <form action="/stocks/<%=stock[i]._id%>?_method=DELETE" method='POST'>
                           <input type="image" src="/images/trash.svg"></input>
                    </form>
                </td>
            </tr>
        <%} %>

        <tr id="plus-row">
            <td id="plus">
                <a href="/stocks/new">
                    <input type="image" src="/images/plus-square-fill.svg"></input>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<%- include('../partials/footer.ejs') %>
