<%- include('../partials/header.ejs') %>


<div class="container text-center">
<h1 class="text-start">Your Stocks</h1>
<h2><%=date%></h2>
<table >
    <thead>
        <tr >
            <th>Name</th>
            <th>Ticker</th>
            <th>Price (as of <%=time%> CST)</th>
            <th>Feeling</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < stock.length; i++) {%>
            <tr class="rounded-2"> 
                <td><a id="stockName" href="/stocks/<%=stock[i]._id%>"><%= stock[i].name %></a></td></a>
                <td class="ticker text-center"><%= stock[i].ticker %></td>
                <td id="api-price">$<%= stock[i].price %></td>
                <% if(stock[i].feeling === 'Bullish'){%>
                    <td style="color: green;"><%= stock[i].feeling %>↑ </td>
                <%} else{%>
                    <td style="color: red;"><%= stock[i].feeling %>↓ </td>
                <%} %>
                <td class="hover-section">
                    <a href="/stocks/<%=stock[i]._id%>/edit">
                        <input type="image" src="/images/pencil.svg"></input>
                    </a>
                </td>
                <td class="hover-section">
                    <form action="/stocks/<%=stock[i]._id%>?_method=DELETE" method='POST' >
                           <input type="image" src="/images/trash.svg"></input>
                    </form>
                </td>
            </tr>
        <%} %>

        <tr id="plus-row">
            <td id="plus">
                <a href="/stocks/new">
                    <input type="image" src="/images/plus-square-fill.svg"></input>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<%- include('../partials/footer.ejs') %>
